/* License: GNU GPLv3+, Rodrigo Schwencke (Copyleft) */

@import url("massilia-dark.css");
@import url("massilia-admonitions.css");
@import url("massilia-columns.css");
@import url("massilia-badges.css");
@import url("massilia-mermaid.css");
@import url("massilia-reveal.css");

/* IMPORT LED BRIGHT */
@font-face {
  font-family: "24 LED Bright";
  src: url("../fonts/24_LED_Bright.ttf") format("truetype"),
       url("../fonts/24_LED_Bright.woff2") format("woff2");
}

:root {
  /* HEADERS MASSILIA */
  --h1: #5a9ac5;
  --h2: #5a9ac5;
  --h2-line: #78B5DE;
  --h2-target: #f16fb5;

  --h3: #5a9ac5;
  --h3-target: #f16fb5;
  --h3-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeft.png");
  --h3-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbLeftTarget.png");
  --h3-right-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRight.png");
  --h3-right-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/pcbRightTarget.png");

  --h4: #5a9ac5;
  --h4-target: #f16fb5;
  --h4-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/main.png");
  --h4-left-target-img: var(--h4-left-img);
  
  --h5: #5a9ac5;
  --h5-target: #f16fb5;
  /* --h5-left-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow.png");
  --h5-left-target-img: url("https://cdn.jsdelivr.net/gh/rod2ik/cdn@main/mkdocs/images/arrow-target.png"); */
  --h5-left-img: url("../images/arrow.png");
  --h5-left-target-img: url("../images/arrow-target.png");

  /* TABLEAUX THÈME CLAIR MASSILIA : VALEURS PAR DÉFAUT */
  --table-header-background: #0d8cf3;
  --table-header-border: #97afb9;
  --table-row-odd-background: #fff;
  --table-row-even-background: #bee4fc;
  --table-code-background: #bdbbbbec;
  --table-link-color: #111111;
  --table-row-hover-bgcolor: #ef5552;

  /* CODES entre ``, PAGE NORMALE, HORS CODES DANS TABLEAUX ET HORS CODES SOURCES */
  --code-normal: #bdbbbbec;

  /* ADMONITIONS THÈME CLAIR MASSILIA : VALEURS PAR DÉFAUT */
  --md-admonition-python-title-background: rgb(81, 164, 231);
  --md-admonition-python-border-color: rgb(55, 116, 167);

  /* ENCADRE MASSILIA */
  --enc-color: inherit;
  --enc-border-color:#111111;
  --enc-box-shadow: 5px 5px 5px #222;

  /* ROUGE BLEU TABLEAU */
  --rbl-color: #ee3939;
  --inv-rbl-color: #34a4ff;

  /* COULEUR DES TEXTES CORRIGÉS */
  --correction-color: #f82e2e;

  /* FLUO MASSILIA */
  --fluo-jaune-background-color: #ffff7f;

  /* IMAGE-SHADOW MASSILIA */
  --img-shadow-box: 5px 5px 10px #222;
  --img-shadow-background-color: inherit;

  --vartab-light-display: block;
  --vartab-dark-display: none;
}

/* Theme Général MkDocs */
.md-grid {
  /* max-width: 61 rem; */
  max-width: 100vw;
  margin-right:auto;
  margin-left:auto;
}

body.reveal-viewport div.md-grid {
  height: 100%;
  margin: 0;
  padding: 0;
}


// mkdocs menus when Revealjs presentation
@media all and (display-mode: fullscreen) {
  body.reveal-viewport header.md-header,
  body.reveal-viewport div.md-container div.md-sidebar,
  body.reveal-viewport div.md-container footer.md-footer {
    display: none;
  }

  body.reveal-viewport pre.presentation.revealjs {
    height: 99.2vh !important;
  }

}

// Hide Right Menu
body.reveal-viewport div.md-sidebar.md-sidebar--secondary {
  display: none;
}

body.reveal-viewport div.md-content article.md-typeset {
  height:99%;
}

body.reveal-viewport div.md-content article.md-typeset *:not(body.reveal-viewport div.md-content article.md-typeset pre.presentation):not(body.reveal-viewport div.md-content article.md-typeset pre.presentation *) {
  display: none;
}

// get rid of some margins and paddings for Revealjs presentations
body.reveal-viewport,
body.reveal-viewport div.md-container,
body.reveal-viewport div.md-container .md-main,
body.reveal-viewport div.md-container .md-main .md-grid,
body.reveal-viewport div.md-container .md-main .md-grid div.md-content,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation div.reveal,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation div.reveal div.slides,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation div.reveal div.slides section,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation div.backgrounds,
body.reveal-viewport div.md-container .md-main .md-grid article.md-typeset pre.presentation div.backgrounds *
 {
  margin:0;
  padding:0;
}

body.reveal-viewport article.md-typeset pre.presentation div.reveal div.slides {
  height: 100vh;
}

// Left Menu
// Left Menu when not full screen
body.reveal-viewport div.md-sidebar {
  position: absolute;
  z-index: 11; //must be > 10 <=> Revealjs slider progress bar 
}

body.reveal-viewport div.md-sidebar .md-header__button.md-logo,
body.reveal-viewport header.md-header {
    --md-default-bg-color: transparent;
}

@media screen and (min-width: 76.1875em) {
  body.reveal-viewport div.md-sidebar.md-sidebar--primary {
      --md-default-bg-color: transparent;
  }
}



// Set text colors of mkdocs menus when Reveal is Set
.reveal-viewport {
  color: var(--r-main-color);
}

/* STYLE WEB AVEC I,II pour h1 puis Styling pour h2 */
h1 {
  font-family: "24 LED Bright";
  text-align: center;
  color: var(--h1) !important;
}

h2 { /* Sous-Paragraphes */
  color: var(--h2) !important;
  font-size: 2em;
  font-weight: bold;
  /* counter-reset: h3counter; */
}

h2:after:not(.presentation) {
  content:"";
  position: relative;
  display: block;
  width: 100%;
  bottom: 0em;
  border-top: 2px solid var(--h2-line);
}

h2:target {
  /* font-size:2em; */
  color: var(--h2-target);
  font-weight: 700;
}

/* h2:target:before {
  top: 7em;
} */

h2:target:after {
  border-top: 2px solid var(--h2-target);
}

/* STYLE WEB avec I,I,III puis Styling pour h2 et h3 */
h3 { /* Sous-Paragraphes */
  display: inline-block;
  color: var(--h3) !important;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
}

h3:before:not(.presentation) {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h3-left-img) no-repeat;
  background-size: 100%;
  top: 0.1em;
  right: 0.7em;
}

h3:after:not(.presentation) {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h3-right-img) no-repeat;
  background-size: 100%;
  top: 0.1em;
  left: -0.7em;
}

h3:target {
  color: var(--h3-target);
  /* font-weight: 500; */
  padding-left: 2em;
}

h3:target:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h3-left-target-img) no-repeat;
  background-size: 100%;
  /* top: 0.0em; */
  /* left: -2em; */
  /* right: 2em; */
}

h3:target:after {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h3-right-target-img) no-repeat;
  background-size: 100%;
  top: 0.1em;
  left: 0.6em;
  /* scroll-margin-top:100px; */
}

 /* STYLE WEB avec I,I,III puis Styling pour h2, h3, h4 */
h4 { /* Sous-Sous-Paragraphes */
  color: var(--h4) !important;
  line-height: 1em;
  padding-right:0.5em;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
}

h4:before:not(.presentation) {
  display: inline-block;
  position: relative;
  content: "";
  width: 40px;
  height: 20px;
  background: var(--h4-left-img) no-repeat;
  background-size: 100%;
  top: 0.3em;
  right: 0.3em;
}

h4:target {
  color: var(--h4-target);
  font-weight: 700;
  padding-left: 2em;
}

/* h4:target:before {
  top: 0.0em;
  left: -2.5em;
  right: 1.5em;
} */

/* STYLE WEB avec I,I,III puis Styling pour h2 et h3 */
h5 { /* Sous-Paragraphes */
  display: inline-block;
  color: var(--h5) !important;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
}

h5:before:not(.presentation) {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h5-left-img) no-repeat;
  background-size: 100%;
  /* top: 1.15em; */
  margin: -1.25em 0;
  right: 0.7em;
}

h5:target {
  color: var(--h5-target) !important;
  /* font-weight: 500; */
  padding-left: 2em;
}

h5:target:before {
  display: inline-block;
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  background: var(--h5-left-target-img) no-repeat;
  background-size: 100%;
  /* top: 200px; */
  /* top: 3em; */
  /* left: -2em; */
  /* right: 2em; */
}


/* CLEAR */

div.clear, clear {
  display:block;
  clear: both;
  margin-top: 1em;
}

@import "massilia-xtables";

/* COLORS */
div.red, red, div.rouge, rouge, 
div.bred, bred, div.brouge, brouge {
  color:red;
  font-weight: 700;
}

div.blue, blue, div.bleu, bleu,
div.bblue, bblue, div.bblue, bbleu {
  color:blue;
  font-weight: 700;
}

div.purple, purple, div.violet, violet,
div.bpurple, bpurple, div.bviolet, bviolet {
  color:purple;
  font-weight: 700;
}

div.green, green, div.vert, vert,
div.bgreen, bgreen, div.bvert, bvert {
  color:green;
  font-weight: 700;
}

div.yellow, yellow, div.jaune, jaune,
div.byellow, byellow, div.bjaune, bjaune {
  color:yellow;
  font-weight: 700;
}

div.orange, orange, div.orange, orange,
div.borange, borange, div.borange, borange {
  color:orange;
  font-weight: 700;
}

div.grey, grey, div.gris, gris,
div.bgrey, bgrey, div.bgris, bgris {
  color:#bbb;
  font-weight: 600;
}

div.black, black, div.noir, noir,
div.bblack, bblack, div.bnoir, bnoir {
  color:black;
  font-weight: 700;
}

div.rbl, rbl,
div.brbl, brbl { /* Red Blue */
  color: var(--rbl-color);
  font-weight: 700;
}

div.irb, irb,
div.irbl, irbl { /* Inverse Red Blue */
  color: var(--inv-rbl-color);
  font-weight: 700;
}

 /* ENCADREMENTS */
encadre, #encadre, .encadre, enc
{
  display: inline-block;
  color: var(--enc-color);
  border: 1px solid var(--enc-border-color);
   /* background-color: rgba(200,200,200,0.5); */
  background-color: transparent;
  border-radius:10px;
  box-shadow: var(--enc-box-shadow);
  margin-bottom: 0.3em;
  padding: 0.5em 0.7em 0.5em 0.7em;
}


/* IMAGES */

.md-typeset figure img {
  clear:both;
  display:block;
}

.md-typeset .light { // For mkdocs_tex2svg Images
  display: var(--vartab-light-display);
}

.md-typeset .dark { // For mkdocs_tex2svg Images
  display: var(--vartab-dark-display);
}

img.shadow, img.ombre, img.encadree, img.box,
iframe.shadow, iframe.box {
  // margin: auto;
  padding: 5px;
  /* width:100%; */
  box-shadow: var(--img-shadow-box);
  background-color: var(--img-shadow-background-color);
  border-radius: 7px;
}

.md-typeset figcaption {
  display:block;
  clear:both; // for figcaption centering from markdown
  margin-top: 0.5em;
}

.md-typeset .emoji, // for Revaljs Emojis
.md-typeset .emojione,
.md-typeset .gemoji,
.md-typeset .twemoji {
  display: inline-flex ;
  height: 1.125em;
  vertical-align:text-top;
}


// Positioning

.center, .center *:not(table *):not(.center.presentation *)  {
  text-align: center;
  margin: 0 auto;
}

.left, .left *:not(table *):not(figure figcaption)  {
  float: left;
  margin-right: 0.8em !important;
  // margin-right: 0.8em;
}

.right, .right *:not(table *):not(figure figcaption)  {
  float: right;
  margin-left: 0.8em !important;
  // margin-left: 0.8em;
}

/* .noshadow, .noboxshadow {
  box-shadow: none;
  border-radius:7px;
} */

/* LINKS */

.md-typeset a:not(a.footnote-ref):not(.presentation .slide-number a) {
  color: var(--table-link-color);
  font-weight: 700;
  text-decoration: underline;
}

.md-typeset .presentation .slide-number a {
  // display: inline-block !important;
  white-space: normal;
}

.md-typeset a[href$=".pdf"] {
  background: url(../images/pdf.svg) no-repeat 0 50%;
  padding-left: 1.5em;
}

.md-typeset a[href^="https://www.youtu"], 
.md-typeset a[href^="https://youtu"] {
  background: url(../images/youtube.svg) no-repeat 0 50%;
  padding-left: 1.5em;
}


/* EXTERNAL LINK in LEFT MENU */
.md-nav__link {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.md-nav__link .MathJax {
  margin-left:  0.1em;
  margin-right: 0.1em;
}

i.fa-external-link-alt {
  margin-left:0.35em;
}

/* MD-TOP LINK */
a.md-top.md-icon {
  top: 7em;
}


/* CODE BLOCKS */

div.nolinenums table.highlighttable tbody tr td.linenos,
div.nolines table.highlighttable tbody tr td.linenos
 {
  display:none;
}

/* MATHJAX */

/* .MJX-TEX {
  font-size: 1.2em;
  } */

/* BLOCKQUOTES */

/* USAGE:
> Bla bla Bla (citation)
>
> Auteur */

blockquote p {
  display: inline;
  font-style: italic;
  line-height: 1.5em;
  font-size: 1.7em;
}

blockquote p:first-of-type {
  quotes: '\AB' '\201C' '\201D' '\2018' '\2019';
}

blockquote p:first-of-type::before {
  content: "Citation: " open-quote;
  margin-right: 0.1rem;
  font-size: 0.65em;
}

blockquote p:last-of-type {
  quotes: '\BB' '\201C' '\201D' '\2018' '\2019';
  font-style: italic;
  font-size: 1em;
}

blockquote p:last-of-type::before {
  content: close-quote "\000A" "\2014" " ";
  white-space: pre;
  margin-left: 0.1rem;
  font-style: normal;
  font-size: 1.2em;
}

/* FOOTNOTES */

a.footnote-ref::before {
  content: "[";
  margin-right: 0.1em;
  margin-left: 0.05em;
}

a.footnote-ref::after {
  content: "]";
  margin-left: 0.1em;
}

/* TESTS POUR FLEX */

#conteneur {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#conteneur div {
  flex:1;
  margin:auto;
}

/* ORDERED LISTS */

// To center Revealjs OLs and ULs
.md-typeset .presentation.revealjs ol:not([hidden]),
.md-typeset .presentation.revealjs ul:not([hidden]) {
  display: inline-block;
}

body div.md-content ol {
  list-style-type: decimal;
}

/* BULLET LISTS */

// Center Revealjs center lists
.md-typeset .presentation.revealjs [dir="ltr"] .md-typeset ol, [dir="ltr"] .md-typeset ul {
  line-height: 1em;
}
  .md-typeset .presentation.revealjs [dir="ltr"] .md-typeset ol li, [dir="ltr"] .md-typeset ul li {
  margin: 0;
}

body div.md-content ul li {
  list-style-type: disc;
}

body div.md-content ul li ul li {
  list-style-type: circle;
}

body div.md-content ul li ul li ul li {
  list-style-type: none;
  position: relative;
  padding-left: 12px;
}

body div.md-content ul li ul li ul li:not(body div.md-content ul li ul li ul li ul li):before {
  content: "\2192";
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: -8px;
}

body div.md-content ul li ul li ul li ul li {
  list-style-type: square;
}


/* SOCIAL ICONS in FOOTER */
.md-social svg {
  fill: white;
}
